<!-- <div class="container" style="background-color: #6d6d6d">
  <div class="row">
      <div id="puesto1"></div>
      <div id="puesto2"></div>
      <div class="col-12" style="margin:1% 0"></div>
      <div id="puesto3"></div>
      <div id="puesto4"></div>
  </div>
</div> -->

<div class="container" style="background-color: #6d6d6d">
  <div class="row">
      <app-puesto class="col-md-6 main-container" style="transform: rotate(180deg); transform-origin: 50% 54%;" #p1></app-puesto>
      <app-puesto class="col-md-6 main-container" style="transform: rotate(180deg); transform-origin: 50% 54%;" #p1></app-puesto>
      <div class="col-12" style="margin:1% 0"></div>
      <app-puesto class="col-md-6 main-container" #p1></app-puesto>
      <app-puesto class="col-md-6 main-container" #p1></app-puesto>
  </div>
</div>
app-puesto